{% extends "base.html" %}

{% block main_body %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery_global.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/layui.css' %}" media="all">
    <style>
        ul:not(.u-unstyled) {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .layui-nav .layui-nav-item a {
            display: block;
            padding: 0 15px;
            color: #fff;
            color: rgba(255,255,255,.7);
            transition: all .3s;
            -webkit-transition: all .3s;
        }
        /* .tab{
            border-bottom: 3px solid red;
        } */
    </style>
</head>
<!-- <script>
    function clickTab(that){
        console.log(that);
        var tabs = document.getElementsByClassName("layui-nav-item layui-this");
        for(var i=0;i<tabs.length;i++ ){
            tabs[i].classList.remove("layui-nav-item layui-this");
            tabs[i].classList.add("layui-nav-item");
        }
        that.classList.remove("layui-nav-item");
        that.classList.add("layui-nav-item layui-this");
    }
</script> -->
<body>

    <ul class="layui-nav">
        <li class="layui-nav-item " ><a href="" >Blazer</a></li>
        <li class="layui-nav-item " ><a href="" >Blouse</a></li>
        <li class="layui-nav-item" ><a href="">Coat</a></li>
        <li class="layui-nav-item" ><a href="">Hoodie</a></li>
        <li class="layui-nav-item" ><a href="">Jacket</a></li>
        <li class="layui-nav-item" ><a href="">Parka</a></li>
        <li class="layui-nav-item" ><a href="">Sweater</a></li>
        <li class="layui-nav-item" ><a href="">Tank</a></li>
        <li class="layui-nav-item" ><a href="">Tee</a></li>
        <li class="layui-nav-item" ><a href="">Chinos</a></li>
        <li class="layui-nav-item" ><a href="">Culottes</a></li>
        <li class="layui-nav-item" ><a href="">Cutoffs</a></li>
        <li class="layui-nav-item" ><a href="">Jeans</a></li>
        <li class="layui-nav-item" ><a href="">Jeggings</a></li>
        <li class="layui-nav-item" ><a href="">Joggers</a></li>
        <li class="layui-nav-item" ><a href="">Shorts</a></li>
        <li class="layui-nav-item" ><a href="">Skirt</a></li>
        <li class="layui-nav-item" ><a href="">Dress</a></li>
        <li class="layui-nav-item" ><a href="">Romper</a></li>
        <!-- <span class="layui-nav-bar" style="left: 360px; top:55px; width: 0px; opacity:0;"></span> -->
    </ul>
    
    <div>
        <h1>wwfsa</h1>
        
    </div>
    
    {% block gallery_image %}{% endblock %}
    <!-- <div>
        <h1>1</h1>
    </div> -->
</body>





{% endblock %}