{% extends "base.html" %}

{% block main_body %}
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text.html;charset=utf-8">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maxium-scale=1,user-scalable=no"> -->
    <link rel="stylesheet" href="{% static 'css/outfit.css' %}" media="screen">  
    <script class="u-script" type="text/javascript" src="{% static 'js/vanilla.js' %}" defer=""></script>
</head>
<style>
    .box_con{
            background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/static/images/background_gallery.jpg");
            background-position: 50% 50%;
            background-size:cover;
        }
</style>
<body>
    {% load static %}
    <div class="box_con">
        <div class="container">
            <h1>01</h1>
            <div class="card" style="background: url('{{outfit1a}}'); background-size:280px 300px;">
                <!-- <img src= '/static/user_upload/Abstract_Print_Combo_Maxi_Dress-img_00000017.jpg' alt=""> -->
                <div class="content">
                    
                    <!-- <h2>01</h2> -->
                    <h3>Upper Clothes</h3>
                    <!-- <p>qwwfgdhserfwegrg</p> -->
                    <a href="{% url 'call_hanger' img1 %}">Get it</a>
                </div>
            </div>
            
            <div class="card" style="background: url('{{outfit1b}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>02</h2> -->
                    <h3>Bottom Clothes</h3>
            
                    <a href="{% url 'call_hanger' img1 %}">Get it</a>
                </div>
            </div>

            <div class="card" style="background: url('{{outfit1c}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>03</h2> -->
                    <h3>Outside Clothes</h3>
                    <a href="{% url 'call_hanger' img1 %}">Get it</a>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>02</h1>
            <div class="card" style="background: url('{{outfit2a}}'); background-size:280px 300px;">
                <!-- <img src="/static/user_upload/qye.jpg" alt=""> -->
                <div class="content">
                    
                    <!-- <h2>01</h2> -->
                    <h3>Upper Clothes</h3>
                    <!-- <p>qwwfgdhserfwegrg</p> -->
                    <a href="{% url 'call_hanger' img2 %}">Get it</a>
                </div>
            </div>

            <div class="card" style="background: url('{{outfit2b}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>02</h2> -->
                    <h3>Bottom Clothes</h3>
            
                    <a href="{% url 'call_hanger' img2 %}">Get it</a>
                </div>
            </div>

            <div class="card" style="background: url('{{outfit2c}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>03</h2> -->
                    <h3>Outside Clothes</h3>
                    <a href="{% url 'call_hanger' img2 %}">Get it</a>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>03</h1>
            <div class="card" style="background: url('{{outfit3a}}'); background-size:280px 300px;">
                <!-- <img src="/static/user_upload/qye.jpg" alt=""> -->
                <div class="content">
                    
                    <!-- <h2>01</h2> -->
                    <h3>Upper Clothes</h3>
                    <!-- <p>qwwfgdhserfwegrg</p> -->
                    <a href="{% url 'call_hanger' img3 %}">Get it</a>
                </div>
            </div>

            <div class="card" style="background: url('{{outfit3b}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>02</h2> -->
                    <h3>Bottom Clothes</h3>
            
                    <a href="{% url 'call_hanger' img3 %}">Get it</a>
                </div>
            </div>

            <div class="card" style="background: url('{{outfit3c}}'); background-size:280px 300px;">
                <div class="content">
                    <!-- <h2>03</h2> -->
                    <h3>Outside Clothes</h3>
                    <a href="{% url 'call_hanger' img3 %}">Get it</a>
                </div>
            </div>
        </div>
        <div id="shiny-shadow">
            <a href="{% url 'generate_outfit' style weather %}"><button><span>Generate New Outfit</span></button></a>
        </div>
    </div>
    
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"),{
            max:15,
            speed:400,
            glare:true,
            "max-glare":1
        })
    </script>
</body>


      


{% endblock %}